// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(359, 100%, 32%),
    200: hsl(360, 82%, 51%),
    300: hsl(359, 100%, 32%),
    400: hsl(345, 100%, 50%),
    500: hsl(345, 100%, 36%),
  ),
  secondary: (
    100: hsl(0 0% 100%),
    200: hsl(173, 80%, 63%),
    300: hsl(173, 72%, 57%),
    400: hsl(54,91,95),
    500: hsl(345, 100%, 50%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(240, 4%, 9),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
