---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section>
    <div class="container">
      <h2 class="mb-16 text-6xl text-center">Services</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:car" title="Tune-Ups">
          Revitalize Your Ride with Our Expert Tune-Up Services.
        </Feature>
        <Feature icon="mdi:air-conditioner" title="A/C Systems">
          Keep your cool on the road – Trust our skilled technicians to ensure peak performance of your A/C system for a comfortable and refreshing drive.
        </Feature>
        <Feature icon="mdi:car-brake-abs" title="Brakes">
          Stop safely and confidently with our precision brake repair and maintenance services, ensuring your vehicle's brakes are in top condition for every journey.
        </Feature>
        <Feature icon="mdi:car-electric" title="Electrical">
          From diagnostics to repairs, trust our experienced technicians to keep your vehicle's electrical systems running smoothly, ensuring reliability and safety on the road.
        </Feature>
        <Feature icon="mdi:car-seat-cooler" title="Cooling Systems">
          Beat the heat with our comprehensive cooling system services, keeping your engine running smoothly and your car's temperature under control for a worry-free ride.
        </Feature>
        <Feature icon="mdi:grease-pencil" title="Suspension">
          Smooth out your ride with our expert suspension services, ensuring stability, comfort, and control on any road ahead.
        </Feature>
        <Feature icon="mdi:smog" title="Smog Failure Repair">
          Let us clear the air for you! Our specialized smog failure repair services ensure your vehicle meets emissions standards, keeping both your car and the environment in top shape.
        </Feature>
        <Feature icon="mdi:car-light-high" title="Check Engine Light Repairs">
          Don't let the check engine light dim your drive. Our skilled technicians will diagnose and repair the issue efficiently, so you can get back on the road with confidence.
        </Feature>
        <Feature icon="mdi:oil" title="Oil Changes">
          Keep your engine running smoothly with our fast and reliable oil change services, ensuring peak performance and longevity for your vehicle.
        </Feature>
        <Feature icon="mdi:key-link" title="Key Fobs">
          Stay in control with our key fob repair and programming services, ensuring seamless access to your vehicle with just the touch of a button.
        </Feature>
        <Feature icon="mdi:lock-check" title="Lock outs">
          Locked out of your car? Don't worry! Our services include fast assistance to unlock your vehicle and regain access within minutes.
        </Feature>
      </div>
    </div>
  </section>
  <!-- <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia> -->
  <!-- <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia> -->
  <!-- <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="520" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section> -->
</DefaultLayout>
