---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Owen's Mobile Auto Repair Services. 1192B Norman Ave., Santa Clara, CA 95054
      </p>
    </div>
  </section>
</footer>
