---
import { Icon } from 'astro-icon/components'

const { src = '/img-header.jpg' } = Astro.props
---

<section class="hero">
  <div class="container">
    <div class="grid grid-cols-1 items-center pt-5 gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-6 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot>Mobile Auto Repair Services</slot>
        </h1>
        <!-- <h1 style="color:#a30003; font-size: 60px;">(510) 556-9066</h1> -->
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="mailto:oparysek408@gmail.com">
            <Icon name="mdi:email-arrow-right" style="color:#f8ef22;"/>
            <span style="color:white;">oparysek408@gmail.com</span>
          </a>
          <a
            class="button has-icon color-secondary"
            href="https://wa.me/5105569066"
          >
            <Icon name="mdi:whatsapp" style="color:#25d366;"/>
            (510) 556-9066
          </a>
        </div>
      </div>
      <img class="lg:block pb-10" src={src} alt="" decoding="async" style="clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);"/>
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
